@page "/admin/languages/create"
@using Microsoft.EntityFrameworkCore
@using LanguageLearning.Domain
@inject NavigationManager NavigationManager
@inject HttpClient httpClient


<link href="Manage.css" rel="stylesheet" />
<PageTitle>Create</PageTitle>

<div class="d-flex align-items-center justify-content-center flex-column p-5 trans-bg rounded trans-bg w-50 gap-1">
    <h1 style="color: #845007;">Create Language</h1>
    <div class="d-flex align-items-center justify-content-center w-100">
        <div class="w-100 bg-transparent">
        <EditForm method="post" Model="Language" OnValidSubmit="AddLanguage" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                    <label style="color: #845007;" for="name" class="form-label">Name:</label>
                    <InputText style="color: #845007;" id="name" @bind-Value="Language.Name" class="form-control" />
                    <ValidationMessage For="() => Language.Name" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                    <label style="color: #845007;" for="description" class="form-label">Description:</label>
                    <InputText style="color: #845007;" id="description" @bind-Value="Language.Description" class="form-control" />
                    <ValidationMessage For="() => Language.Description" class="text-danger" /> 
            </div>        
            <div class="mb-3" hidden>
                <label for="datecreated" class="form-label">DateCreated:</label> 
                <InputDate id="datecreated" @bind-Value="Language.DateCreated" class="form-control" /> 
                <ValidationMessage For="() => Language.DateCreated" class="text-danger" /> 
            </div>        
            <div class="mb-3" hidden>
                <label for="dateupdated" class="form-label">DateUpdated:</label> 
                <InputDate id="dateupdated" @bind-Value="Language.DateUpdated" class="form-control" /> 
                <ValidationMessage For="() => Language.DateUpdated" class="text-danger" /> 
            </div>        
            <div class="mb-3" hidden>
                <label for="createdby" class="form-label">CreatedBy:</label> 
                <InputText id="createdby" @bind-Value="Language.CreatedBy" class="form-control" /> 
                <ValidationMessage For="() => Language.CreatedBy" class="text-danger" /> 
            </div>        
            <div class="mb-3" hidden>
                <label for="updatedby" class="form-label">UpdatedBy:</label> 
                <InputText id="updatedby" @bind-Value="Language.UpdatedBy" class="form-control" /> 
                <ValidationMessage For="() => Language.UpdatedBy" class="text-danger" /> 
            </div>
            <div class="w-100 d-flex align-items-center justify-content-center my-2">
                    <button type="submit" class="btn log-btn">Create</button>
            </div>
            
        </EditForm>
    </div>
</div>

<div class="mt-2">
    <a class="log-link" href="/admin/languages">Back to List</a>
</div>
</div>

@code {
    [SupplyParameterFromForm]
    private Language Language { get; set; } = new();
    //Create userId string to store the user id, default value is "System".
    private string userId = "System";
    //Inject the AuthenticationStateProvider to get the user id.
    @inject AuthenticationStateProvider authenticationStateProvider

    //Override the OnInitialized method to get the user id.
    protected override async void OnInitialized()
    {
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        // Get the userId claim
        var userIdClaim = user.FindFirst("userId");
        if (userIdClaim != null)
        {
            userId = userIdClaim.Value;
        }
    }

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddLanguage()
    {
        //Set the userId to the CreatedBy and UpdatedBy fields.
        Language.CreatedBy = userId;
        Language.UpdatedBy = userId;
        //Set the DateCreated and DateUpdated fields to the current date and time.
        Language.DateCreated = DateTime.Now;
        Language.DateUpdated = DateTime.Now;

        var repsonse = await httpClient.PostAsJsonAsync("api/languages", Language);

        NavigationManager.NavigateTo("/admin/languages");
    }
}
