@page "/admin/languages"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using LanguageLearning.Domain
@using LanguageLearning.Data
@rendermode InteractiveServer
@inject HttpClient httpClient

<link href="Manage.css" rel="stylesheet"/>
<PageTitle>Index</PageTitle>

<div class="w-100 d-flex justify-content-end align-items-center">
    <a class="btn create-btn text-center" href="admin/languages/create">Create New Language <i class="bi bi-plus-circle"></i></a>
</div>
<QuickGrid Class="table table-hover" Items="FilteredLanguages" Pagination="paginationState">
    <PropertyColumn Property="language => language.Name" Sortable="true">
        <ColumnOptions>
            <div>
            <input type="search" @bind="searchText" @bind:event="oninput" autofocus />
            </div>
        </ColumnOptions>
    </PropertyColumn>
    <PropertyColumn  Property="language => language.Description" Sortable="true" />

    <TemplateColumn Context="language">
        <a class="btn edit-btn" href="@($"admin/languages/edit?id={language.Id}")"><i class="bi bi-pencil-square"></i></a> |
        
        <a class="btn detail-btn" href="@($"admin/languages/details?id={language.Id}")"><i class="bi bi-ticket-detailed"></i></a> |

        <a class="btn delete-btn" href="@($"admin/languages/delete?id={language.Id}")"><i class="bi bi-trash"></i></a>
        
    </TemplateColumn>
</QuickGrid>

<div style="color: #845007;">
<Paginator State="paginationState"/>
</div>

@code {
    PaginationState paginationState = new PaginationState { ItemsPerPage = 5 };

    List<Language> Languages = new();
    string searchText = "";
    IQueryable<Language> FilteredLanguages => Languages.Where(l => l.Name.Contains(searchText)).AsQueryable();

    protected override async Task OnInitializedAsync()
    {
        Languages = await httpClient.GetFromJsonAsync<List<Language>>("api/languages") ?? new List<Language>();
    }
    // amendable
}
