@page "/admin/progresses/create"
@using LanguageLearning.Data
@using Microsoft.EntityFrameworkCore
@using LanguageLearning.Domain
@inject NavigationManager NavigationManager
@inject HttpClient httpClient

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Progress</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Progress" OnValidSubmit="AddProgress" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="progressper" class="form-label">ProgressPer:</label> 
                <InputNumber id="progressper" @bind-Value="Progress.ProgressPer" class="form-control" /> 
                <ValidationMessage For="() => Progress.ProgressPer" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="iscompleted" class="form-label">IsCompleted:</label> 
                <InputCheckbox id="iscompleted" @bind-Value="Progress.IsCompleted" class="form-check-input" /> 
                <ValidationMessage For="() => Progress.IsCompleted" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="completeddate" class="form-label">CompletedDate:</label> 
                <InputDate id="completeddate" @bind-Value="Progress.CompletedDate" class="form-control" /> 
                <ValidationMessage For="() => Progress.CompletedDate" class="text-danger" /> 
            </div>
            <div class="mb-3">
                <label for="lessonid" class="form-label">LessonId:</label>
                <InputSelect id="lessonid" @bind-Value="Progress.LessonId" class="form-control">
                    <option value="">-- Select Lesson --</option>
                    @if (Lessons != null)
                    {
                        foreach (var lesson in Lessons)
                        {
                            <option value="@lesson.Id">@lesson.Title</option>
                        }
                    }
                </InputSelect>
            </div>
            @* <div class="mb-3">
                <label for="lessonid" class="form-label">LessonId:</label> 
                <InputNumber id="lessonid" @bind-Value="Progress.LessonId" class="form-control" /> 
                <ValidationMessage For="() => Progress.LessonId" class="text-danger" /> 
            </div>         *@
            <div class="mb-3" hidden>
                <label for="userid" class="form-label">UserId:</label> 
                <InputText id="userid" @bind-Value="Progress.UserId" class="form-control" /> 
                <ValidationMessage For="() => Progress.UserId" class="text-danger" /> 
            </div>        
            <div class="mb-3" hidden>
                <label for="datecreated" class="form-label">DateCreated:</label> 
                <InputDate id="datecreated" @bind-Value="Progress.DateCreated" class="form-control" /> 
                <ValidationMessage For="() => Progress.DateCreated" class="text-danger" /> 
            </div>        
            <div class="mb-3" hidden>
                <label for="dateupdated" class="form-label">DateUpdated:</label> 
                <InputDate id="dateupdated" @bind-Value="Progress.DateUpdated" class="form-control" /> 
                <ValidationMessage For="() => Progress.DateUpdated" class="text-danger" /> 
            </div>        
            <div class="mb-3" hidden>
                <label for="createdby" class="form-label">CreatedBy:</label> 
                <InputText id="createdby" @bind-Value="Progress.CreatedBy" class="form-control" /> 
                <ValidationMessage For="() => Progress.CreatedBy" class="text-danger" /> 
            </div>        
            <div class="mb-3" hidden>
                <label for="updatedby" class="form-label">UpdatedBy:</label> 
                <InputText id="updatedby" @bind-Value="Progress.UpdatedBy" class="form-control" /> 
                <ValidationMessage For="() => Progress.UpdatedBy" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/admin/progresses">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Progress Progress { get; set; } = new();

    //Create userId string to store the user id, default value is "System".
    private string userId = "System";
    //Inject the AuthenticationStateProvider to get the user id.
@inject AuthenticationStateProvider authenticationStateProvider

    private IList<Lesson> Lessons;


    //Override the OnInitialized method to get the user id.
    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        // Get the userId claim
        var userIdClaim = user.FindFirst("userId");
        if (userIdClaim != null)
        {
            userId = userIdClaim.Value;
        }
        Lessons = await httpClient.GetFromJsonAsync<IList<Lesson>>("api/lessons");
        StateHasChanged();
    }

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddProgress()
    {
        Progress.CreatedBy = userId;
        Progress.UpdatedBy = userId;
        Progress.UserId = userId;

        Progress.DateCreated = DateTime.Now;
        Progress.DateUpdated = DateTime.Now;

        var response = await httpClient.PostAsJsonAsync("api/progresses", Progress);

        NavigationManager.NavigateTo("/admin/progresses");
    }
}
