@page "/admin/progresses"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using LanguageLearning.Domain
@using LanguageLearning.Data
@rendermode InteractiveServer
@inject HttpClient httpClient

<PageTitle>Index</PageTitle>

<h1 style="color: #845007;" class="fw-bold">Progresses Of Users</h1>


<QuickGrid Class="table" Items="FilteredProgresses" Pagination="paginationState">
    <PropertyColumn Property="progress => progress.UserId" Sortable="true">
        <ColumnOptions>
            <div>
                <input type="search" @bind="searchText" @bind:event="oninput" autofocus />
            </div>
        </ColumnOptions>
    </PropertyColumn>
    <PropertyColumn Property="progress => progress.LessonId" Sortable="true" />
    <PropertyColumn Property="progress => progress.ProgressPer" Sortable="true"/>
    <PropertyColumn Property="progress => progress.IsCompleted" Sortable="true"/>
    <PropertyColumn Property="progress => progress.CompletedDate" Sortable="true" />
    
    
    @* <TemplateColumn Context="progress">
        <a href="@($"admin/progresses/edit?id={progress.Id}")">Edit</a> |
        <a href="@($"admin/progresses/details?id={progress.Id}")">Details</a> |
        <a href="@($"admin/progresses/delete?id={progress.Id}")">Delete</a>
    </TemplateColumn> *@
</QuickGrid>
<div style="color: #845007;">
    <Paginator State="paginationState" />
</div>

@code {
    PaginationState paginationState = new PaginationState { ItemsPerPage = 5 };

    List<Progress> Progresses = new();
    string searchText = "";
    IQueryable<Progress> FilteredProgresses => Progresses
    .Where(p => (p.UserId ?? "").Contains(searchText))
    .AsQueryable();

    protected override async Task OnInitializedAsync()
    {
        Progresses = await httpClient.GetFromJsonAsync<List<Progress>>("api/progresses") ?? new List<Progress>();
    }
    // amendable
}
