@page "/payments/create"
@using Microsoft.EntityFrameworkCore
@using LanguageLearning.Domain
@inject NavigationManager NavigationManager
@inject HttpClient httpClient

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Payment</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Payment" OnValidSubmit="AddPayment" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="amount" class="form-label">Amount:</label> 
                <InputNumber id="amount" @bind-Value="Payment.Amount" class="form-control" /> 
                <ValidationMessage For="() => Payment.Amount" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="method" class="form-label">Method:</label> 
                <InputText id="method" @bind-Value="Payment.Method" class="form-control" /> 
                <ValidationMessage For="() => Payment.Method" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="status" class="form-label">Status:</label> 
                <InputText id="status" @bind-Value="Payment.Status" class="form-control" /> 
                <ValidationMessage For="() => Payment.Status" class="text-danger" /> 
            </div>        
            <div class="mb-3" hidden>
                <label for="datecreated" class="form-label">DateCreated:</label> 
                <InputDate id="datecreated" @bind-Value="Payment.DateCreated" class="form-control" /> 
                <ValidationMessage For="() => Payment.DateCreated" class="text-danger" /> 
            </div>        
            <div class="mb-3" hidden>
                <label for="dateupdated" class="form-label">DateUpdated:</label> 
                <InputDate id="dateupdated" @bind-Value="Payment.DateUpdated" class="form-control" /> 
                <ValidationMessage For="() => Payment.DateUpdated" class="text-danger" /> 
            </div>        
            <div class="mb-3" hidden>
                <label for="createdby" class="form-label">CreatedBy:</label> 
                <InputText id="createdby" @bind-Value="Payment.CreatedBy" class="form-control" /> 
                <ValidationMessage For="() => Payment.CreatedBy" class="text-danger" /> 
            </div>        
            <div class="mb-3" hidden>
                <label for="updatedby" class="form-label">UpdatedBy:</label> 
                <InputText id="updatedby" @bind-Value="Payment.UpdatedBy" class="form-control" /> 
                <ValidationMessage For="() => Payment.UpdatedBy" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/payments">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Payment Payment { get; set; } = new();

    private string userId = "System";
    @inject AuthenticationStateProvider authenticationStateProvider

    //Override the OnInitialized method to get the user id.
    protected override async void OnInitialized()
    {
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        // Get the userId claim
        var userIdClaim = user.FindFirst("userId");
        if (userIdClaim != null)
        {
            userId = userIdClaim.Value;
        }
    }

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddPayment()
    {
        Payment.CreatedBy = userId;
        Payment.UpdatedBy = userId;

        Payment.DateCreated = DateTime.Now;
        Payment.DateUpdated = DateTime.Now;

        var response = await httpClient.PostAsJsonAsync("api/payments", Payment);

        NavigationManager.NavigateTo("/payments");
    }
}
