@page "/payments"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using LanguageLearning.Domain
@using LanguageLearning.Data
@rendermode InteractiveServer
@inject HttpClient httpClient

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="payments/create">Create New</a>
</p>

<QuickGrid Class="table" Items="FilteredPayments" Pagination="paginationState">
    <PropertyColumn Property="payment => payment.Amount" />
    <PropertyColumn Property="payment => payment.Method" />
    <PropertyColumn Property="payment => payment.Status" >
        <ColumnOptions>
            <div>
                <input type="search" @bind="searchText" @bind:event="oninput" autofocus />
            </div>
        </ColumnOptions>
    </PropertyColumn>
    <PropertyColumn Property="payment => payment.DateCreated" />
    <PropertyColumn Property="payment => payment.DateUpdated" />
    <PropertyColumn Property="payment => payment.CreatedBy" />
    <PropertyColumn Property="payment => payment.UpdatedBy" />

    <TemplateColumn Context="payment">
        <a href="@($"payments/edit?id={payment.Id}")">Edit</a> |
        <a href="@($"payments/details?id={payment.Id}")">Details</a> |
        <a href="@($"payments/delete?id={payment.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
<Paginator State="paginationState" />

@code {
    PaginationState paginationState = new PaginationState { ItemsPerPage = 5 };

    List<Payment> Payments = new();
    string searchText = "";
    IQueryable<Payment> FilteredPayments => Payments.Where(l => l.Status.Contains(searchText)).AsQueryable();

    protected override async Task OnInitializedAsync()
    {
        Payments = await httpClient.GetFromJsonAsync<List<Payment>>("api/payments") ?? new List<Payment>();
    }
    // amendable
}
