@using Microsoft.AspNetCore.Components.Authorization
@implements IDisposable
@inject NavigationManager NavigationManager
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="log-link fs-4 text-center fw-bold" href="">OurLingua <i class="bi bi-brilliance fs-2"></i></a>
    </div>
</div>

<!-- Navigation Menu Toggle -->
<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<!-- Navigation Links -->
<div class="nav-scrollable border-top border-1" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column gap-2">
        <div class="px-3 mt-3 mb-2">
            <NavLink class="btn nav-btn w-100" href="admin/dashboard" Match="NavLinkMatch.All">
                <i class="bi bi-speedometer fs-5"></i> DashBoard
            </NavLink>
        </div>
        <!-- Admin-Only Menu Items: CRUD operations for system management -->
        <AuthorizeView Roles="Administrator">
            <div class="px-3 mb-2">
                <NavLink class="btn nav-btn w-100" href="admin/languages">
                    <i class="bi bi-translate fs-5"></i> Language
            </NavLink>
        </div>
            <div class="px-3 mb-2">
                <NavLink class="btn nav-btn w-100" href="admin/lessons">
                    <i class="bi bi-journals fs-5"></i> Lesson
                </NavLink>
            </div>
            <div class="px-3 mb-2">
                <NavLink class="btn nav-btn w-100" href="admin/lessoncontents">
                    <i class="bi bi-journal-text fs-5"></i> Lesson Content
                </NavLink>
            </div>
            <div class="px-3 mb-2">
                <NavLink class="btn nav-btn w-100" href="admin/quessions">
                    <i class="bi bi-question-square fs-5"></i> Quession
                </NavLink>
            </div>

            <div class="px-3 mb-2">
                <NavLink class="btn nav-btn w-100" href="admin/quizzes">
                    <i class="bi bi-hurricane fs-5"></i> Quiz
                </NavLink>
            </div>
            <div class="px-3 mb-2">
                <NavLink class="btn nav-btn w-100" href="admin/progresses">
                    <i class="bi bi-card-checklist fs-5"></i> Progress
                </NavLink>
            </div>
        </AuthorizeView>
    </nav>
</div>

@code {
    private string? currentUrl;
    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

}