@using Microsoft.AspNetCore.Components.Authorization
@implements IDisposable
@inject NavigationManager NavigationManager
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">OurLingua <i class="bi bi-yin-yang"></i></a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin/dashboard" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> DashBoard
            </NavLink>
        </div>
        <AuthorizeView Roles="Administrator">
        <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin/languages">
                    <span class="bi bi-airplane-fill-nav-menu" aria-hidden="true"></span> Language
            </NavLink>
        </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin/lessons">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Lesson
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin/lessoncontents">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Lesson Content
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin/plans">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Plan
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin/progresses">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Progress
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin/payments">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Payment
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin/quessions">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Quession
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin/quizzes">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Quiz
                </NavLink>
            </div>
        </AuthorizeView>
    </nav>
</div>

@code {
    private string? currentUrl;
    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

}