@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<link href="Manage.css" rel="stylesheet" />
<div class="user-layout">
    <nav class="navbar">
        
        <div class="nav-container">
           
           <a class="log-link fs-4 text-center fw-bold" href="">OurLingua <i class="bi bi-brilliance fs-2"></i></a>
            
            <AuthorizeView Roles="Administrator">
                <NavLink href="/admin/dashboard" class="btn fs-5 px-3 py-1 fw-bold log-btn">
                    DashBoard
                </NavLink>
            </AuthorizeView>
            <AuthorizeView>
                <NavLink href="/languages" class="btn fs-5 px-3 py-1 fw-bold log-btn">
                    Languages
                </NavLink>
            </AuthorizeView>
            <div class="d-flex align-items-end justify-content-center gap-2">
                <AuthorizeView>
                    <NotAuthorized>
                        <DialogWrapper/>
                    </NotAuthorized>
                    
                     <Authorized>
                         <NavLink class="log-link pb-2 mr-3" href="Account/Manage">
                               @context.User.Identity?.Name
                         </NavLink>
                            <form action="Account/Logout" method="post">
                                    <AntiforgeryToken />
                                    <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                                    <button type="submit" class="btn fs-5 px-3 py-1 fw-bold log-btn">
                                         Logout
                                    </button>
                                </form>
                     </Authorized>
                </AuthorizeView>
                
            </div>
        </div>
    </nav>
    <section class="user-content d-flex align-items-center justify-content-start flex-column">
        @Body
       
    </section>
    <footer class="footer-bar d-flex align-items-center justify-content-around">
        <a class="foot-link fs-4 text-center fw-bold" href="">Learn with <i class="bi bi-brilliance fs-2"></i></a>
        <div class="d-flex align-items-end gap-3">
            <a class="foot-link text-center fw-bold" href=""><i class="bi bi-facebook fs-3"></i></a>
            <a class="foot-link text-center fw-bold" href=""><i class="bi bi-twitter fs-3"></i></a>
            <a class="foot-link text-center fw-bold" href=""><i class="bi bi-youtube fs-3"></i></a>
            <a class="foot-link text-center fw-bold" href=""><i class="bi bi-linkedin fs-3"></i></a>
            <a class="foot-link text-center fw-bold" href=""><i class="bi bi-meta fs-3"></i></a>
        </div>
        <a class="foot-link fs-5 text-center fw-light" href="">Our Policy</a>
    </footer>
</div>



@code {
    private string? currentUrl;
    
    protected override void OnInitialized()
    {
        string uri = NavigationManager.Uri;
        currentUrl = NavigationManager.ToBaseRelativePath(uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

   
}
