@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="user-layout">
    <nav class="navbar">
        
        <div class="nav-container">
            <div class="nav-logo" @onclick="@(() => NavigationManager.NavigateTo("/"))">
                MyApp
            </div>

         
                    <!-- Dropdown -->
                    <div class="nav-dropdown">
                        <button class="dropdown-toggle">
                            Language
                        </button>

                        <div class="dropdown-menu">
                            <a href="/profile">England</a>
                            <a href="/settings">Spanish</a>
                            <a href="/logout">French</a>
                        </div>
                    </div>
            <!-- Dialog Button -->
            <AuthorizeView>
                <NotAuthorized>
                    <DialogWrapper/>
                </NotAuthorized>
                <Authorized>
                    <div class="d-flex align-items-center gap-2">
                        <NavLink class="nav-link" href="Account/Manage">
                             @context.User.Identity?.Name
                        </NavLink>
                        <form action="Account/Logout" method="post">
                            <AntiforgeryToken />
                            <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                            <button type="submit" class="btn btn-light px-3 py-1" style="color: #845007; font-weight: bold;
                                                font-size: 1.25rem;
                                            border: 1px solid black;"
                                            onmouseover="
                                                this.style.backgroundColor='#A9A9A9';"
                                    onmouseout="this.style.backgroundColor='#ffffff';">
                                 Logout
                            </button>
                        </form>
                        <NavLink href="/admin/dashboard" class="btn btn-light px-3 py-1" style="color: #845007; font-weight: bold;
                        font-size: 1.25rem;border: 1px solid black; text-decoration: none;"
                                 onmouseover="this.style.backgroundColor='#A9A9A9';"
                                 onmouseout="this.style.backgroundColor='#ffffff';">
                            DashBoard
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>
            
        </div>
    </nav>
    <section class="user-content">
        @Body
    </section>
</div>



@code {
    private string? currentUrl;
    
    protected override void OnInitialized()
    {
        string uri = NavigationManager.Uri;
        currentUrl = NavigationManager.ToBaseRelativePath(uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

   
}
