@page "/admin/quessions/edit"
@using Microsoft.EntityFrameworkCore
@using LanguageLearning.Domain
@inject IDbContextFactory<LanguageLearning.Data.LanguageLearningContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Quession</h2>
<hr />
@if (Quession is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Quession" OnValidSubmit="UpdateQuession" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Quession.Id" value="@Quession.Id" />
                <div class="mb-3">
                    <label for="text" class="form-label">Text:</label>
                    <InputText id="text" @bind-Value="Quession.Text" class="form-control" />
                    <ValidationMessage For="() => Quession.Text" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="opta" class="form-label">OptA:</label>
                    <InputText id="opta" @bind-Value="Quession.OptA" class="form-control" />
                    <ValidationMessage For="() => Quession.OptA" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="optb" class="form-label">OptB:</label>
                    <InputText id="optb" @bind-Value="Quession.OptB" class="form-control" />
                    <ValidationMessage For="() => Quession.OptB" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="optc" class="form-label">OptC:</label>
                    <InputText id="optc" @bind-Value="Quession.OptC" class="form-control" />
                    <ValidationMessage For="() => Quession.OptC" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="optd" class="form-label">OptD:</label>
                    <InputText id="optd" @bind-Value="Quession.OptD" class="form-control" />
                    <ValidationMessage For="() => Quession.OptD" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="corrrectanswer" class="form-label">CorrrectAnswer:</label>
                    <InputText id="corrrectanswer" @bind-Value="Quession.CorrrectAnswer" class="form-control" />
                    <ValidationMessage For="() => Quession.CorrrectAnswer" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="quizid" class="form-lable">QuizId:</label>
                    <InputSelect id="Quizid" @bind-Value="Quession.QuizId" class="form-control">
                        <option value="">--Select Quiz--</option>
                        @if (Quizzes != null)
                        {
                            foreach (var quiz in Quizzes)
                            {
                                <option value="@quiz.Id">@quiz.Title</option>
                            }
                        }
                    </InputSelect>
                </div>
                @* <div class="mb-3">
                    <label for="quizid" class="form-label">QuizId:</label>
                    <InputNumber id="quizid" @bind-Value="Quession.QuizId" class="form-control" />
                    <ValidationMessage For="() => Quession.QuizId" class="text-danger" />
                </div> *@
                <div class="mb-3" hidden>
                    <label for="datecreated" class="form-label">DateCreated:</label>
                    <InputDate id="datecreated" @bind-Value="Quession.DateCreated" class="form-control" />
                    <ValidationMessage For="() => Quession.DateCreated" class="text-danger" />
                </div>
                <div class="mb-3" hidden>
                    <label for="dateupdated" class="form-label">DateUpdated:</label>
                    <InputDate id="dateupdated" @bind-Value="Quession.DateUpdated" class="form-control" />
                    <ValidationMessage For="() => Quession.DateUpdated" class="text-danger" />
                </div>
                <div class="mb-3" hidden>
                    <label for="createdby" class="form-label">CreatedBy:</label>
                    <InputText id="createdby" @bind-Value="Quession.CreatedBy" class="form-control" />
                    <ValidationMessage For="() => Quession.CreatedBy" class="text-danger" />
                </div>
                <div class="mb-3" hidden>
                    <label for="updatedby" class="form-label">UpdatedBy:</label>
                    <InputText id="updatedby" @bind-Value="Quession.UpdatedBy" class="form-control" />
                    <ValidationMessage For="() => Quession.UpdatedBy" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/admin/quessions">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Quession? Quession { get; set; }

    //Create userId string to store the user id, default value is "System".
    private string userId = "System";
    //Inject the AuthenticationStateProvider to get the user id.
@inject AuthenticationStateProvider authenticationStateProvider

    private IList<Quiz> Quizzes;

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        // Get the userId claim
        var userIdClaim = user.FindFirst("userId");
        if (userIdClaim != null)
        {
            userId = userIdClaim.Value;
        }
        using var context = DbFactory.CreateDbContext();
        Quession ??= await context.Quession.FirstOrDefaultAsync(m => m.Id == Id);

        if (Quession is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
        Quizzes = context.Quiz.ToList();
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateQuession()
    {
        using var context = DbFactory.CreateDbContext();

        Quession.UpdatedBy = userId;
        Quession.DateUpdated = DateTime.Now;


        context.Attach(Quession!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!QuessionExists(Quession!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/admin/quessions");
    }

    private bool QuessionExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Quession.Any(e => e.Id == id);
    }
}
