@page "/admin/quessions/edit"
@using Microsoft.EntityFrameworkCore
@using LanguageLearning.Domain
@inject NavigationManager NavigationManager
@inject HttpClient httpClient

<link href="Manage.css" rel="stylesheet"/>

<PageTitle>Edit</PageTitle>

@if (Quession is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div style="color: #845007;" class="d-flex align-items-center justify-content-center flex-column p-5 trans-bg rounded trans-bg w-50 gap-1">
        <h1 >Edit Quession</h1>
        <div class="d-flex align-items-center justify-content-center w-100">
        <div class="w-100 bg-transparent">
            <EditForm method="post" Model="Quession" OnValidSubmit="UpdateQuession" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Quession.Id" value="@Quession.Id" />
                <div class="mb-3">
                    <label for="text" class="form-label">Text:</label>
                        <InputText style="color: #845007;" id="text" @bind-Value="Quession.Text" class="form-control" />
                    <ValidationMessage For="() => Quession.Text" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="opta" class="form-label">OptA:</label>
                        <InputText style="color: #845007;" id="opta" @bind-Value="Quession.OptA" class="form-control" />
                    <ValidationMessage For="() => Quession.OptA" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="optb" class="form-label">OptB:</label>
                        <InputText style="color: #845007;" id="optb" @bind-Value="Quession.OptB" class="form-control" />
                    <ValidationMessage For="() => Quession.OptB" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="optc" class="form-label">OptC:</label>
                        <InputText style="color: #845007;" id="optc" @bind-Value="Quession.OptC" class="form-control" />
                    <ValidationMessage For="() => Quession.OptC" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="optd" class="form-label">OptD:</label>
                        <InputText style="color: #845007;" id="optd" @bind-Value="Quession.OptD" class="form-control" />
                    <ValidationMessage For="() => Quession.OptD" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="corrrectanswer" class="form-label">CorrrectAnswer:</label>
                        <InputText style="color: #845007;" id="corrrectanswer" @bind-Value="Quession.CorrrectAnswer" class="form-control" />
                    <ValidationMessage For="() => Quession.CorrrectAnswer" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="quizid" class="form-lable">QuizId:</label>
                        <InputSelect style="color: #845007;" id="Quizid" @bind-Value="Quession.QuizId" class="form-control">
                        <option value="">--Select Quiz--</option>
                        @if (Quizzes != null)
                        {
                            foreach (var quiz in Quizzes)
                            {
                                <option value="@quiz.Id">@quiz.Title</option>
                            }
                        }
                    </InputSelect>
                </div>
                @* <div class="mb-3">
                    <label for="quizid" class="form-label">QuizId:</label>
                    <InputNumber id="quizid" @bind-Value="Quession.QuizId" class="form-control" />
                    <ValidationMessage For="() => Quession.QuizId" class="text-danger" />
                </div> *@
                <div class="mb-3" hidden>
                    <label for="datecreated" class="form-label">DateCreated:</label>
                    <InputDate id="datecreated" @bind-Value="Quession.DateCreated" class="form-control" />
                    <ValidationMessage For="() => Quession.DateCreated" class="text-danger" />
                </div>
                <div class="mb-3" hidden>
                    <label for="dateupdated" class="form-label">DateUpdated:</label>
                    <InputDate id="dateupdated" @bind-Value="Quession.DateUpdated" class="form-control" />
                    <ValidationMessage For="() => Quession.DateUpdated" class="text-danger" />
                </div>
                <div class="mb-3" hidden>
                    <label for="createdby" class="form-label">CreatedBy:</label>
                    <InputText id="createdby" @bind-Value="Quession.CreatedBy" class="form-control" />
                    <ValidationMessage For="() => Quession.CreatedBy" class="text-danger" />
                </div>
                <div class="mb-3" hidden>
                    <label for="updatedby" class="form-label">UpdatedBy:</label>
                    <InputText id="updatedby" @bind-Value="Quession.UpdatedBy" class="form-control" />
                    <ValidationMessage For="() => Quession.UpdatedBy" class="text-danger" />
                </div>
                    <div class="w-100 d-flex align-items-center justify-content-center my-2">
                    <button type="submit" class="btn log-btn">Save</button>
                </div>
            </EditForm>
        </div>
        
    </div>
        <div>
            <a class="log-link" href="/admin/quessions">Back to List</a>
        </div>
    </div>
}



@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Quession? Quession { get; set; }

    //Create userId string to store the user id, default value is "System".
    private string userId = "System";
    //Inject the AuthenticationStateProvider to get the user id.
@inject AuthenticationStateProvider authenticationStateProvider

    private IList<Quiz> Quizzes;

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        // Get the userId claim
        var userIdClaim = user.FindFirst("userId");
        if (userIdClaim != null)
        {
            userId = userIdClaim.Value;
        }

        // Only load from API if Language is not already bound from form
        if (Quession is null)
        {
            Quession = await httpClient.GetFromJsonAsync<Quession>($"api/quessions/{Id}");
            StateHasChanged();

            if (Quession is null)
            {
                NavigationManager.NavigateTo("notfound");
            }
        }
        Quizzes = await httpClient.GetFromJsonAsync<IList<Quiz>>("api/quizs");
        StateHasChanged();
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateQuession()
    {

        //Set the userId to the UpdatedBy fields.
        Quession.UpdatedBy = userId;
        //Set the DateUpdated fields to the current date and time.
        Quession.DateUpdated = DateTime.Now;

        var response = await httpClient.PutAsJsonAsync($"api/quessions/{Quession.Id}", Quession);

        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/admin/quessions");
        }
        else if (response.StatusCode == System.Net.HttpStatusCode.NotFound)
        {
            NavigationManager.NavigateTo("notfound");
        }
        else
        {
            // Handle other errors (optional)
            var errorMessage = await response.Content.ReadAsStringAsync();
            // You could show an error message to the user here
            Console.WriteLine($"Error updating quession: {errorMessage}");
        }
    }

    
}
