@page "/admin/quessions"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using LanguageLearning.Domain
@using LanguageLearning.Data
@rendermode InteractiveServer
@inject HttpClient httpClient

<link href="Manage.css" rel="stylesheet"/>
<PageTitle>Index</PageTitle>

<div class="w-100 d-flex justify-content-end align-items-center">
    <a class="btn create-btn text-center" href="admin/quessions/create">Create New Quession <i class="bi bi-plus-circle"></i></a>
</div>

<QuickGrid Class="table" Items="FilteredQuessions" Pagination="paginationState">
    <PropertyColumn Property="quession => quession.Text" Sortable="true">
        <ColumnOptions>
            <div>
                <input type="search" @bind="searchText" @bind:event="oninput" autofocus />
            </div>
        </ColumnOptions>
    </PropertyColumn>
    <PropertyColumn Property="quession => quession.OptA" Sortable="true" />
    <PropertyColumn Property="quession => quession.OptB" Sortable="true" />
    <PropertyColumn Property="quession => quession.OptC" Sortable="true" />
    <PropertyColumn Property="quession => quession.OptD" Sortable="true" />
    <PropertyColumn Property="quession => quession.CorrrectAnswer" Sortable="true" />
    <PropertyColumn Property="quession => quession.QuizId" Sortable="true" />

    <TemplateColumn Context="quession">
        <a class="btn edit-btn" href="@($"admin/quessions/edit?id={quession.Id}")"><i class="bi bi-pencil-square"></i></a> |
        <a class="btn detail-btn" href="@($"admin/quessions/details?id={quession.Id}")"><i class="bi bi-ticket-detailed"></i></a> |
        <a class="btn delete-btn" href="@($"admin/quessions/delete?id={quession.Id}")"><i class="bi bi-trash"></i></a>
    </TemplateColumn>
</QuickGrid>
<div style="color: #845007">
<Paginator State="paginationState" />
</div>

@code {
    PaginationState paginationState = new PaginationState { ItemsPerPage = 5 };

    List<Quession> Quessions = new();
    string searchText = "";
    IQueryable<Quession> FilteredQuessions => Quessions.Where(q => q.Text.Contains(searchText)).AsQueryable();

    protected override async Task OnInitializedAsync()
    {
        Quessions = await httpClient.GetFromJsonAsync<List<Quession>>("api/quessions") ?? new List<Quession>();
    }
    // amendable
}
