@page "/admin/quessions"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using LanguageLearning.Domain
@using LanguageLearning.Data
@rendermode InteractiveServer
@inject HttpClient httpClient

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="quessions/create">Create New</a>
</p>

<QuickGrid Class="table" Items="FilteredQuessions" Pagination="paginationState">
    <PropertyColumn Property="quession => quession.Text" Sortable="true">
        <ColumnOptions>
            <div>
                <input type="search" @bind="searchText" @bind:event="oninput" autofocus />
            </div>
        </ColumnOptions>
    </PropertyColumn>
    <PropertyColumn Property="quession => quession.OptA" Sortable="true" />
    <PropertyColumn Property="quession => quession.OptB" Sortable="true" />
    <PropertyColumn Property="quession => quession.OptC" Sortable="true" />
    <PropertyColumn Property="quession => quession.OptD" Sortable="true" />
    <PropertyColumn Property="quession => quession.CorrrectAnswer" Sortable="true" />
    <PropertyColumn Property="quession => quession.QuizId" Sortable="true" />
    <PropertyColumn Property="quession => quession.DateCreated" Sortable="true" />
    <PropertyColumn Property="quession => quession.DateUpdated" Sortable="true" />
    <PropertyColumn Property="quession => quession.CreatedBy" Sortable="true" />
    <PropertyColumn Property="quession => quession.UpdatedBy" Sortable="true" />

    <TemplateColumn Context="quession">
        <a href="@($"admin/quessions/edit?id={quession.Id}")">Edit</a> |
        <a href="@($"admin/quessions/details?id={quession.Id}")">Details</a> |
        <a href="@($"admin/quessions/delete?id={quession.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
<Paginator State="paginationState" />

@code {
    PaginationState paginationState = new PaginationState { ItemsPerPage = 5 };

    List<Quession> Quessions = new();
    string searchText = "";
    IQueryable<Quession> FilteredQuessions => Quessions.Where(q => q.Text.Contains(searchText)).AsQueryable();

    protected override async Task OnInitializedAsync()
    {
        Quessions = await httpClient.GetFromJsonAsync<List<Quession>>("api/quessions") ?? new List<Quession>();
    }
    // amendable
}
