@page "/admin/quizzes/create"
@using LanguageLearning.Data
@using Microsoft.EntityFrameworkCore
@using LanguageLearning.Domain
@inject NavigationManager NavigationManager
@inject HttpClient httpClient

<PageTitle>Create</PageTitle>

<div style="color: #845007;" class="d-flex align-items-center justify-content-center flex-column p-5 trans-bg rounded trans-bg w-50 gap-1">
    <h1 >Create Quiz</h1>
    <div style="color: #845007;" class="d-flex align-items-center justify-content-center w-100">
        <div class="w-100 bg-transparent">
        <EditForm method="post" Model="Quiz" OnValidSubmit="AddQuiz" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                    <label style="color: #845007;" for="title" class="form-label">Title:</label>
                    <InputText style="color: #845007;" id="title" @bind-Value="Quiz.Title" class="form-control" />
                    <ValidationMessage For="() => Quiz.Title" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                    <label style="color: #845007;" for="iscompleted" class="form-label">IsCompleted:</label>
                    <InputCheckbox style="color: #845007;" id="iscompleted" @bind-Value="Quiz.IsCompleted" class="form-check-input" />
                    <ValidationMessage For="() => Quiz.IsCompleted" class="text-danger" /> 
            </div>

            <div class="mb-3">
                    <label style="color: #845007;" for="lessonid" class="form-label">LessonId:</label>
                    <InputSelect style="color: #845007;" id="lessonid" @bind-Value="Quiz.LessonId" class="form-control">
                    <option value="">-- Select Lesson --</option>
                    @if (Lessons != null)
                    {
                        foreach (var lesson in Lessons)
                        {
                            <option value="@lesson.Id">@lesson.Title</option>
                        }
                    }
                </InputSelect>
            </div>
            
            @* <div class="mb-3">
                <label for="lessonid" class="form-label">LessonId:</label> 
                <InputNumber id="lessonid" @bind-Value="Quiz.LessonId" class="form-control" /> 
                <ValidationMessage For="() => Quiz.LessonId" class="text-danger" /> 
            </div>         *@
            <div class="mb-3" hidden>
                <label for="datecreated" class="form-label">DateCreated:</label> 
                <InputDate id="datecreated" @bind-Value="Quiz.DateCreated" class="form-control" /> 
                <ValidationMessage For="() => Quiz.DateCreated" class="text-danger" /> 
            </div>        
            <div class="mb-3" hidden>
                <label for="dateupdated" class="form-label">DateUpdated:</label> 
                <InputDate id="dateupdated" @bind-Value="Quiz.DateUpdated" class="form-control" /> 
                <ValidationMessage For="() => Quiz.DateUpdated" class="text-danger" /> 
            </div>        
            <div class="mb-3" hidden>
                <label for="createdby" class="form-label">CreatedBy:</label> 
                <InputText id="createdby" @bind-Value="Quiz.CreatedBy" class="form-control" /> 
                <ValidationMessage For="() => Quiz.CreatedBy" class="text-danger" /> 
            </div>        
            <div class="mb-3" hidden>
                <label for="updatedby" class="form-label">UpdatedBy:</label> 
                <InputText id="updatedby" @bind-Value="Quiz.UpdatedBy" class="form-control" /> 
                <ValidationMessage For="() => Quiz.UpdatedBy" class="text-danger" /> 
            </div>
            <div class="d-flex align-content-center justify-content-center">
                <button type="submit" class="btn log-btn">Create</button>
            </div>
        </EditForm>
    </div>
</div>

<div class="mt-2">
    <a class="log-link" href="/admin/quizzes">Back to List</a>
</div>
</div>

@code {
    [SupplyParameterFromForm]
    private Quiz Quiz { get; set; } = new();

    //Create userId string to store the user id, default value is "System".
    private string userId = "System";
    //Inject the AuthenticationStateProvider to get the user id.
    @inject AuthenticationStateProvider authenticationStateProvider

    private LanguageLearningContext context = default!;
    private IList<Lesson> Lessons;

    //Override the OnInitialized method to get the user id.
    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        // Get the userId claim
        var userIdClaim = user.FindFirst("userId");
        if (userIdClaim != null)
        {
            userId = userIdClaim.Value;
        }
        Lessons = await httpClient.GetFromJsonAsync<IList<Lesson>>("api/lessons");
        StateHasChanged();
    }

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddQuiz()
    {
        Quiz.CreatedBy = userId;
        Quiz.UpdatedBy = userId;
        
        Quiz.DateCreated = DateTime.Now;
        Quiz.DateUpdated = DateTime.Now;

        var repsonse = await httpClient.PostAsJsonAsync("api/quizs", Quiz);
        NavigationManager.NavigateTo("/admin/quizzes");
    }
}
