@page "/admin/quizzes"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using LanguageLearning.Domain
@using LanguageLearning.Data
@rendermode InteractiveServer
@inject HttpClient httpClient

<link href="Manage.css" rel="stylesheet"/>
<PageTitle>Index</PageTitle>

<div class="w-100 d-flex justify-content-end align-items-center">
    <a class="btn create-btn text-center" href="admin/quizzes/create">Create New Quiz <i class="bi bi-plus-circle"></i></a>
</div>

<QuickGrid Class="table" Items="FilteredQuizzes" Pagination="paginationState">
    <PropertyColumn Property="quiz => quiz.Title" Sortable="true">
        <ColumnOptions>
            <div>
                <input type="search" @bind="searchText" @bind:event="oninput" autofocus />
            </div>
        </ColumnOptions>
    </PropertyColumn>
    <PropertyColumn Property="quiz => quiz.IsCompleted" Sortable="true"/>
    <PropertyColumn Property="quiz => quiz.LessonId" Sortable="true" />
    
    <TemplateColumn Context="quiz">
        <a class="btn edit-btn" href="@($"admin/quizzes/edit?id={quiz.Id}")"><i class="bi bi-pencil-square"></i></a> |
        <a class="btn detail-btn" href="@($"admin/quizzes/details?id={quiz.Id}")"><i class="bi bi-ticket-detailed"></i></a> |
        <a class="btn delete-btn" href="@($"admin/quizzes/delete?id={quiz.Id}")"><i class="bi bi-trash"></i></a>
    </TemplateColumn>
</QuickGrid>
<div style="color: #845007;">
    <Paginator State="paginationState" />
</div>

@code {
    PaginationState paginationState = new PaginationState { ItemsPerPage = 5 };

    List<Quiz> Quizzes = new();
    string searchText = "";
    IQueryable<Quiz> FilteredQuizzes => Quizzes.Where(q => q.Title.Contains(searchText)).AsQueryable();

    protected override async Task OnInitializedAsync()
    {
        Quizzes = await httpClient.GetFromJsonAsync<List<Quiz>>("api/quizs") ?? new List<Quiz>();
    }
    // amendable
}
