@page "/admin/quizzes"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using LanguageLearning.Domain
@using LanguageLearning.Data
@rendermode InteractiveServer
@inject HttpClient httpClient

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="quizzes/create">Create New</a>
</p>

<QuickGrid Class="table" Items="FilteredQuizzes" Pagination="paginationState">
    <PropertyColumn Property="quiz => quiz.Title" Sortable="true">
        <ColumnOptions>
            <div>
                <input type="search" @bind="searchText" @bind:event="oninput" autofocus />
            </div>
        </ColumnOptions>
    </PropertyColumn>
    <PropertyColumn Property="quiz => quiz.IsCompleted" Sortable="true"/>
    <PropertyColumn Property="quiz => quiz.LessonId" Sortable="true" />
    <PropertyColumn Property="quiz => quiz.DateCreated" Sortable="true" />
    <PropertyColumn Property="quiz => quiz.DateUpdated" Sortable="true" />
    <PropertyColumn Property="quiz => quiz.CreatedBy" Sortable="true" />
    <PropertyColumn Property="quiz => quiz.UpdatedBy" Sortable="true" />

    <TemplateColumn Context="quiz">
        <a href="@($"admin/quizzes/edit?id={quiz.Id}")">Edit</a> |
        <a href="@($"admin/quizzes/details?id={quiz.Id}")">Details</a> |
        <a href="@($"admin/quizzes/delete?id={quiz.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
<Paginator State="paginationState" />

@code {
    PaginationState paginationState = new PaginationState { ItemsPerPage = 5 };

    List<Quiz> Quizzes = new();
    string searchText = "";
    IQueryable<Quiz> FilteredQuizzes => Quizzes.Where(q => q.Title.Contains(searchText)).AsQueryable();

    protected override async Task OnInitializedAsync()
    {
        Quizzes = await httpClient.GetFromJsonAsync<List<Quiz>>("api/quizs") ?? new List<Quiz>();
    }
    // amendable
}
