@page "/admin/lessoncontents/edit"
@using Microsoft.EntityFrameworkCore
@using LanguageLearning.Domain
@inject IDbContextFactory<LanguageLearning.Data.LanguageLearningContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>LessonContent</h2>
<hr />
@if (LessonContent is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="LessonContent" OnValidSubmit="UpdateLessonContent" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="LessonContent.Id" value="@LessonContent.Id" />
                <div class="mb-3">
                    <label for="contenttype" class="form-label">ContentType:</label>
                    <InputText id="contenttype" @bind-Value="LessonContent.ContentType" class="form-control" />
                    <ValidationMessage For="() => LessonContent.ContentType" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="positionorder" class="form-label">PositionOrder:</label>
                    <InputNumber id="positionorder" @bind-Value="LessonContent.PositionOrder" class="form-control" />
                    <ValidationMessage For="() => LessonContent.PositionOrder" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="lessonid" class="form-label">LessonId:</label>
                    <InputSelect id="lessonid" @bind-Value="LessonContent.LessonId" class="form-control">
                        <option value="">-- Select Lesson --</option>
                        @if (Lessons != null)
                        {
                            foreach (var lesson in Lessons)
                            {
                                <option value="@lesson.Id">@lesson.Title</option>
                            }
                        }
                    </InputSelect>
                </div>
                @* <div class="mb-3">
                    <label for="lessonid" class="form-label">LessonId:</label>
                    <InputNumber id="lessonid" @bind-Value="LessonContent.LessonId" class="form-control" />
                    <ValidationMessage For="() => LessonContent.LessonId" class="text-danger" />
                </div> *@
                <div class="mb-3" hidden>
                    <label for="datecreated" class="form-label">DateCreated:</label>
                    <InputDate id="datecreated" @bind-Value="LessonContent.DateCreated" class="form-control" />
                    <ValidationMessage For="() => LessonContent.DateCreated" class="text-danger" />
                </div>
                <div class="mb-3" hidden>
                    <label for="dateupdated" class="form-label">DateUpdated:</label>
                    <InputDate id="dateupdated" @bind-Value="LessonContent.DateUpdated" class="form-control" />
                    <ValidationMessage For="() => LessonContent.DateUpdated" class="text-danger" />
                </div>
                <div class="mb-3" hidden>
                    <label for="createdby" class="form-label">CreatedBy:</label>
                    <InputText id="createdby" @bind-Value="LessonContent.CreatedBy" class="form-control" />
                    <ValidationMessage For="() => LessonContent.CreatedBy" class="text-danger" />
                </div>
                <div class="mb-3" hidden>
                    <label for="updatedby" class="form-label">UpdatedBy:</label>
                    <InputText id="updatedby" @bind-Value="LessonContent.UpdatedBy" class="form-control" />
                    <ValidationMessage For="() => LessonContent.UpdatedBy" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/admin/lessoncontents">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private LessonContent? LessonContent { get; set; }

    //Create userId string to store the user id, default value is "System".
    private string userId = "System";
    //Inject the AuthenticationStateProvider to get the user id.
    @inject AuthenticationStateProvider authenticationStateProvider

    private IList<Lesson> Lessons;

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        // Get the userId claim
        var userIdClaim = user.FindFirst("userId");
        if (userIdClaim != null)
        {
            userId = userIdClaim.Value;
        }
        using var context = DbFactory.CreateDbContext();
        Lessons = context.Lesson.ToList();
        LessonContent ??= await context.LessonContent.FirstOrDefaultAsync(m => m.Id == Id);

        if (LessonContent is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    private async Task UpdateLessonContent()
    {
        using var context = DbFactory.CreateDbContext();

        LessonContent.UpdatedBy = userId;
        LessonContent.DateUpdated = DateTime.Now;

        context.Attach(LessonContent!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!LessonContentExists(LessonContent!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/admin/lessoncontents");
    }

    private bool LessonContentExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.LessonContent.Any(e => e.Id == id);
    }
}
