@page "/admin/lessoncontents"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using LanguageLearning.Domain
@using LanguageLearning.Data
@rendermode InteractiveServer
@inject HttpClient httpClient

<link href="Manage.css" rel="stylesheet" />
<PageTitle>Index</PageTitle>

<div class="w-100 d-flex justify-content-end align-items-center">
    <a class="btn create-btn text-center" href="admin/lessoncontents/create">Create New LessonContent <i class="bi bi-plus-circle"></i></a>
</div>
<QuickGrid Class="table" Items="FilteredLessonContents" Pagination="paginationState">
    <PropertyColumn Property="lessoncontent => lessoncontent.ContentType" Sortable="true"/>
    <PropertyColumn Property="lessoncontent => lessoncontent.ContentText" Sortable="true" />
    <PropertyColumn Property="lessoncontent => lessoncontent.LessonId" Sortable="true" >
        <ColumnOptions>
            <div>
            <input type="search" @bind="searchText" @bind:event="oninput" autofocus />
            </div>
        </ColumnOptions>
    </PropertyColumn>

    <TemplateColumn Context="lessoncontent">
        <a class="btn edit-btn" href="@($"admin/lessoncontents/edit?id={lessoncontent.Id}")"><i class="bi bi-pencil-square"></i></a> |
        <a class="btn detail-btn" href="@($"admin/lessoncontents/details?id={lessoncontent.Id}")"><i class="bi bi-ticket-detailed"></i></a> |
        <a class="btn delete-btn" href="@($"admin/lessoncontents/delete?id={lessoncontent.Id}")"><i class="bi bi-trash"></i></a>
    </TemplateColumn>
</QuickGrid>
<div style="color: #845007;">
    <Paginator State="paginationState" />
</div>

@code {
    PaginationState paginationState = new PaginationState { ItemsPerPage = 5 };

    List<LessonContent> LessonContents = new();
    string searchText = "";
    IQueryable<LessonContent> FilteredLessonContents
    {
        get
        {
            if (string.IsNullOrWhiteSpace(searchText))
            {
                return LessonContents.AsQueryable();
            }

            if (int.TryParse(searchText, out int lessonId))
            {
                return LessonContents.Where(lc => lc.LessonId == lessonId).AsQueryable();
            }

            return Enumerable.Empty<LessonContent>().AsQueryable();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        LessonContents = await httpClient.GetFromJsonAsync<List<LessonContent>>("api/lessoncontents") ?? new List<LessonContent>();
    }
    // amendable
}

