@page "/admin/lessoncontents"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using LanguageLearning.Domain
@using LanguageLearning.Data
@rendermode InteractiveServer
@inject HttpClient httpClient


<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="lessoncontents/create">Create New</a>
</p>

<QuickGrid Class="table" Items="FilteredLessonContents" Pagination="paginationState">
    <PropertyColumn Property="lessoncontent => lessoncontent.ContentType" Sortable="true"/>
    <PropertyColumn Property="lessoncontent => lessoncontent.PositionOrder" Sortable="true" />
    <PropertyColumn Property="lessoncontent => lessoncontent.LessonId" Sortable="true" >
        <ColumnOptions>
            <div>
            <input type="search" @bind="searchText" @bind:event="oninput" autofocus />
            </div>
        </ColumnOptions>
    </PropertyColumn>
    <PropertyColumn Property="lessoncontent => lessoncontent.DateCreated" Sortable="true" />
    <PropertyColumn Property="lessoncontent => lessoncontent.DateUpdated" Sortable="true" />
    <PropertyColumn Property="lessoncontent => lessoncontent.CreatedBy" Sortable="true" />
    <PropertyColumn Property="lessoncontent => lessoncontent.UpdatedBy" Sortable="true" />

    <TemplateColumn Context="lessoncontent">
        <a href="@($"admin/lessoncontents/edit?id={lessoncontent.Id}")">Edit</a> |
        <a href="@($"admin/lessoncontents/details?id={lessoncontent.Id}")">Details</a> |
        <a href="@($"admin/lessoncontents/delete?id={lessoncontent.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
<Paginator State="paginationState" />

@code {
    PaginationState paginationState = new PaginationState { ItemsPerPage = 5 };

    List<LessonContent> LessonContents = new();
    string searchText = "";
    IQueryable<LessonContent> FilteredLessonContents
    {
        get
        {
            if (string.IsNullOrWhiteSpace(searchText))
            {
                return LessonContents.AsQueryable();
            }

            if (int.TryParse(searchText, out int lessonId))
            {
                return LessonContents.Where(lc => lc.LessonId == lessonId).AsQueryable();
            }

            return Enumerable.Empty<LessonContent>().AsQueryable();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        LessonContents = await httpClient.GetFromJsonAsync<List<LessonContent>>("api/lessoncontents") ?? new List<LessonContent>();
    }
    // amendable
}

