@page "/admin/lessons/create"
@using LanguageLearning.Data
@using Microsoft.EntityFrameworkCore
@using LanguageLearning.Domain
@inject NavigationManager NavigationManager
@inject HttpClient httpClient

<link href="Manage.css" rel="stylesheet" />
<PageTitle>Create</PageTitle>

<div style="color: #845007;" class="d-flex align-items-center justify-content-center flex-column p-5 trans-bg rounded trans-bg w-50 gap-1">
<h1>Create</h1>
    <div class="d-flex align-items-center justify-content-center w-100">
        <div class="w-100 bg-transparent">
        <EditForm method="post" Model="Lesson" OnValidSubmit="AddLesson" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label> 
                <InputText id="title" @bind-Value="Lesson.Title" class="form-control" /> 
                <ValidationMessage For="() => Lesson.Title" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label> 
                <InputText id="description" @bind-Value="Lesson.Description" class="form-control" /> 
                <ValidationMessage For="() => Lesson.Description" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                    <label style="color: #845007;" for="difficultylvl" class="form-label">DifficultyLvl:</label>
                    <InputNumber style="color: #845007;" id="difficultylvl" @bind-Value="Lesson.DifficultyLvl" class="form-control" />
                    <ValidationMessage For="() => Lesson.DifficultyLvl" class="text-danger" /> 
            </div>  
            <div class="mb-3">
                    <label style="color: #845007;" for="languageid" class="form-lable">LanguageId:</label>
                    <InputSelect style="color: #845007;" id="languageid" @bind-Value="Lesson.LanguageId" class="form-control">
                    <option value="">--Select Language--</option>
                    @if(Languages != null)
                    {
                        foreach (var language in Languages)
                        {
                            <option value="@language.Id">@language.Name</option>
                        }
                    }
                </InputSelect>
            </div>
            @* <div class="mb-3">
                <label for="languageid" class="form-label">LanguageId:</label> 
                <InputNumber id="languageid" @bind-Value="Lesson.LanguageId" class="form-control" /> 
                <ValidationMessage For="() => Lesson.LanguageId" class="text-danger" /> 
            </div>         *@
            <div class="mb-3" hidden>
                <label for="datecreated" class="form-label">DateCreated:</label> 
                <InputDate id="datecreated" @bind-Value="Lesson.DateCreated" class="form-control" /> 
                <ValidationMessage For="() => Lesson.DateCreated" class="text-danger" /> 
            </div>        
            <div class="mb-3" hidden>
                <label for="dateupdated" class="form-label">DateUpdated:</label> 
                <InputDate id="dateupdated" @bind-Value="Lesson.DateUpdated" class="form-control" /> 
                <ValidationMessage For="() => Lesson.DateUpdated" class="text-danger" /> 
            </div>        
            <div class="mb-3" hidden>
                <label for="createdby" class="form-label">CreatedBy:</label> 
                <InputText id="createdby" @bind-Value="Lesson.CreatedBy" class="form-control" /> 
                <ValidationMessage For="() => Lesson.CreatedBy" class="text-danger" /> 
            </div>        
            <div class="mb-3" hidden>
                <label for="updatedby" class="form-label">UpdatedBy:</label> 
                <InputText id="updatedby" @bind-Value="Lesson.UpdatedBy" class="form-control" /> 
                <ValidationMessage For="() => Lesson.UpdatedBy" class="text-danger" /> 
            </div>
                <div class="w-100 d-flex align-items-center justify-content-center my-2">
                    <button type="submit" class="btn log-btn">Create</button>
                </div>
        </EditForm>
    </div>
</div>

<div>
    <a class="log-link" href="/admin/lessons">Back to List</a>
</div>
</div>

    @code {
    [SupplyParameterFromForm]
    private Lesson Lesson { get; set; } = new();
    //Create userId string to store the user id, default value is "System".
    private string userId = "System";
    //Inject the AuthenticationStateProvider to get the user id.
@inject AuthenticationStateProvider authenticationStateProvider
    //Override the OnInitialized method to get the user id.

    private LanguageLearningContext context = default!;
    private IList<Language> Languages;

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        // Get the userId claim
        var userIdClaim = user.FindFirst("userId");
        if (userIdClaim != null)
        {
            userId = userIdClaim.Value;
        }

        Languages = await httpClient.GetFromJsonAsync<IList<Language>>("api/languages");
        StateHasChanged();

    }

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddLesson()
    {
        Lesson.CreatedBy = userId;
        Lesson.UpdatedBy = userId;

        Lesson.DateUpdated = DateTime.Now;
        Lesson.DateCreated = DateTime.Now;

        var repsonse = await httpClient.PostAsJsonAsync("api/lessons", Lesson);
        NavigationManager.NavigateTo("/admin/lessons");
    }
}
