@page "/admin/lessons"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using LanguageLearning.Domain
@using LanguageLearning.Data
@rendermode InteractiveServer
@inject HttpClient httpClient

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="lessons/create">Create New</a>
</p>

<QuickGrid Class="table" Items="FilteredLessons" Pagination="paginationState">
    <PropertyColumn Property="lesson => lesson.Title" Sortable="true">
        <ColumnOptions>
            <div>
            <input type="search" @bind="searchText" @bind:event="oninput" autofocus />
            </div>
        </ColumnOptions>
    </PropertyColumn>
    <PropertyColumn Property="lesson => lesson.Description" Sortable="true" />
    <PropertyColumn Property="lesson => lesson.DifficultyLvl" Sortable="true" />
    <PropertyColumn Property="lesson => lesson.LanguageId" Sortable="true" />
    <PropertyColumn Property="lesson => lesson.DateCreated" Sortable="true" />
    <PropertyColumn Property="lesson => lesson.DateUpdated" Sortable="true" />
    <PropertyColumn Property="lesson => lesson.CreatedBy" Sortable="true" />
    <PropertyColumn Property="lesson => lesson.UpdatedBy" Sortable="true" />

    <TemplateColumn Context="lesson">
        <a href="@($"admin/lessons/edit?id={lesson.Id}")">Edit</a> |
        <a href="@($"admin/lessons/details?id={lesson.Id}")">Details</a> |
        <a href="@($"admin/lessons/delete?id={lesson.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
<Paginator State="paginationState" />

@code {
    PaginationState paginationState = new PaginationState { ItemsPerPage = 5 };

    List<Lesson> Lessons = new();
    string searchText = "";
    IQueryable<Lesson> FilteredLessons => Lessons.Where(l => l.Title.Contains(searchText)).AsQueryable();

    protected override async Task OnInitializedAsync()
    {
        Lessons = await httpClient.GetFromJsonAsync<List<Lesson>>("api/lessons") ?? new List<Lesson>();
    }
    // amendable
}
