@page "/checkoutsuccess"
@using LanguageLearning.Components.Layout
@using LanguageLearning.Domain
@layout UserLayout


<h1 class="text-success">Payment Successful.</h1>
<h5 class="text-success my-3 fw-light">You have been promoted to premium user.</h5>
<h3 class="text-success">Please log in again to enjoy your privilege.</h3>


