@page "/language"
@using LanguageLearning.Components.Layout
@using LanguageLearning.Domain
@rendermode InteractiveServer
@layout UserLayout
@inject HttpClient httpClient
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.Authorization

@if (Language is null)
{
    <p>Loading...</p>
}
else{<div class="lp-page w-100">

    <!-- HEADER -->
    <div class="lp-header">
         <AuthorizeView>
            <h1>Hi there, @context.User.Identity?.Name</h1>
        </AuthorizeView>
    </div>

    <!-- CONTENT -->
    <div style="color:#845007" class=" w-100">

        <!-- LEFT CARD -->
        <section class="lp-card lp-left w-100">
            <div class="lp-unit">
                <h1>@Language.Name</h1>
            </div>

       

                @foreach(var lesson in Lessons)
                {
                    <div class="lesson-row">
                        <div class="lesson-left">
                            <h1 class="lesson-title">@lesson.Title</h1>
                            <h2 class="lesson-name">@lesson.Description</h2>

                        </div>

                        <button class="start-btn">Start lesson</button>
                    </div>
                    <div class= "divider" ></div>
                }

        </section>

    </div>

</div>
}
@code{
    private Language? Language;

    private List<Lesson> Lessons;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    List<Lesson> FilteredLessons => Language is not null && Lessons is not null
            ? Lessons : Lessons.Where(l => l.LanguageId == Language.Id).ToList();

    protected override async Task OnInitializedAsync()
    {
     
        // Only load from API if Language is not already bound from form
        if (Language is null)
        {
            Language = await httpClient.GetFromJsonAsync<Language>($"api/languages/{Id}");

            if (Language is null)
            {
                NavigationManager.NavigateTo("notfound");
            }
        }
        Lessons = await httpClient.GetFromJsonAsync<List<Lesson>>($"api/lessons") ?? new List<Lesson>();
    }
}