@page "/"
@using LanguageLearning.Components.Layout
@inject AuthenticationStateProvider AuthenticationStateProvider
@layout UserLayout

<PageTitle>Home</PageTitle>
<link href="css/home.css" rel="stylesheet" /> 

<div class="home-container">
    <section class="left-section">
        <h1 class="main-heading">
            Which is <span class="highlight">language</span> do<br />you want to learn?
        </h1>

        <div class="language-grid">
            <a href=@(IsAuthorized ? "/language?id=4" : "/Account/Login") class="btn language-btn">
                <img src="https://flagcdn.com/w80/es.png" alt="Spain flag" />
                <div class="language-text">
                    <span class="language-name">Spanish</span>
                </div>
            </a>
            <a href=@(IsAuthorized ? "/language?id=5" : "/Account/Login") class="btn language-btn">
                <img src="https://flagcdn.com/w80/fr.png" alt="France flag" />
                <div class="language-text">
                    <span class="language-name">French</span>
                </div>
            </a>

            <a href=@(IsAuthorized ? "/language?id=3" : "/Account/Login") class="btn language-btn">
                <img src="https://flagcdn.com/w80/de.png" alt="Germany flag" />
                <div class="language-text">
                    <span class="language-name">German</span>
                </div>
            </a>

            <a href=@(IsAuthorized ? "/language?id=10" : "/Account/Login") class="btn language-btn">
                <img src="https://flagcdn.com/w80/it.png" alt="Italy flag" />
                <div class="language-text">
                    <span class="language-name">Italian</span>
                </div>
            </a>
            <a href=@(IsAuthorized ? "/language?id=11" : "/Account/Login") class="btn language-btn">
                <img src="https://flagcdn.com/w80/jp.png" alt="Japan flag" />
                <div class="language-text">
                    <span class="language-name">Japanese</span>
                </div>
            </a>
            <a href=@(IsAuthorized ? "/languages" : "/Account/Login") class="btn language-btn">
                <i class="bi bi-plus-circle fs-3"></i>
                <div class="language-text">
                    <span class="language-name">More Languages</span>
                </div>
            </a>

        </div>
    </section>

    <section class="right-section">
        <img src="language-learning.jpeg"
             alt="Language learning illustration"
             class="hero-image" />
             
    </section>


</div>

@code{
    private bool IsAuthorized = false;
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        IsAuthorized = user?.Identity != null && user.Identity.IsAuthenticated;
    }

}

