.trans-bg {
    background-color: rgba(211, 211, 211, 0.3);
}

.log-btn {
    background-color: rgba(211, 211, 211, 1);
    color: #845007;
}

    .log-btn:hover {
        background-color: #845007;
        color: white;
        font: bold;
    }

.bi-yin-yang {
    font-size: 50px;
}

.log-link {
    color: #845007;
    text-decoration: none;
}

    .log-link:hover {
        color: navy;
    }

.close-btn:hover {
    background-color: gray;
}
.nav-btn {
    color: #845007;
    text-align: left;
}
.nav-btn:hover {
    background-color: #845007;
    color: white;
    font: bold;
}

    .nav-btn.active {
        background-color: #845007;
        color: white;
        font: bold;
    }



.table {
    color: #845007;
}
    
    .table td {
        line-height: 5;
    }

.edit-btn{
    background-color: dimgrey;
    color: ivory;
}
 .edit-btn:hover{
     background-color: black;
     color:ivory;
 }

 .detail-btn{
     background-color: yellow;
     color: black;
 }
    .detail-btn:hover {
        background-color: darkgoldenrod;
        color: black;
    }

.delete-btn {
    background-color: indianred;
    color: ivory;
}
    .delete-btn:hover {
        background-color: darkred;
        color: ivory;
    }

.create-btn {
    background-color: forestgreen;
    color: ivory;
    margin-right: 200px;
}
    .create-btn:hover {
        background-color: khaki;
        color: #845007;
    }
.card-link {
    background-color: #f4f6f8;
    border: 1px solid #e7e5e4;
    color: #854007;
    text-decoration: none;
}
.card:hover{
    border: 3px solid #845007;
    background: #fbf7ef;
}

.entry-search {
    color: #845007;
    border: 1px solid #845007;
}
    .entry-search:focus {
        border: 2px solid #845007;
    }

.footer-bar {
    background: navy;
    padding: 0 2rem;
    z-index: 100;
    width: 100%;
    height: 100px;
    color: white;
}

.foot-link {
    color: white;
    text-decoration: none;
}
    .foot-link:hover {
        color: #845007;
    }