@page "/admin/plans/edit"
@using Microsoft.EntityFrameworkCore
@using LanguageLearning.Domain
@inject IDbContextFactory<LanguageLearning.Data.LanguageLearningContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Plan</h2>
<hr />
@if (Plan is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Plan" OnValidSubmit="UpdatePlan" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Plan.Id" value="@Plan.Id" />
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="Plan.Name" class="form-control" />
                    <ValidationMessage For="() => Plan.Name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price:</label>
                    <InputNumber id="price" @bind-Value="Plan.Price" class="form-control" />
                    <ValidationMessage For="() => Plan.Price" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="billingcycle" class="form-label">BillingCycle:</label>
                    <InputText id="billingcycle" @bind-Value="Plan.BillingCycle" class="form-control" />
                    <ValidationMessage For="() => Plan.BillingCycle" class="text-danger" />
                </div>
                <div class="mb-3" hidden>
                    <label for="datecreated" class="form-label">DateCreated:</label>
                    <InputDate id="datecreated" @bind-Value="Plan.DateCreated" class="form-control" />
                    <ValidationMessage For="() => Plan.DateCreated" class="text-danger" />
                </div>
                <div class="mb-3" hidden>
                    <label for="dateupdated" class="form-label">DateUpdated:</label>
                    <InputDate id="dateupdated" @bind-Value="Plan.DateUpdated" class="form-control" />
                    <ValidationMessage For="() => Plan.DateUpdated" class="text-danger" />
                </div>
                <div class="mb-3" hidden>
                    <label for="createdby" class="form-label">CreatedBy:</label>
                    <InputText id="createdby" @bind-Value="Plan.CreatedBy" class="form-control" />
                    <ValidationMessage For="() => Plan.CreatedBy" class="text-danger" />
                </div>
                <div class="mb-3" hidden>
                    <label for="updatedby" class="form-label">UpdatedBy:</label>
                    <InputText id="updatedby" @bind-Value="Plan.UpdatedBy" class="form-control" />
                    <ValidationMessage For="() => Plan.UpdatedBy" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/admin/plans">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Plan? Plan { get; set; }

    private string userId = "System";
    @inject AuthenticationStateProvider authenticationStateProvider

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        // Get the userId claim
        var userIdClaim = user.FindFirst("userId");
        if (userIdClaim != null)
        {
            userId = userIdClaim.Value;
        }
        using var context = DbFactory.CreateDbContext();
        Plan ??= await context.Plan.FirstOrDefaultAsync(m => m.Id == Id);

        if (Plan is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdatePlan()
    {
        using var context = DbFactory.CreateDbContext();

        Plan.UpdatedBy = userId;
        Plan.DateUpdated = DateTime.Now;

        context.Attach(Plan!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!PlanExists(Plan!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/admin/plans");
    }

    private bool PlanExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Plan.Any(e => e.Id == id);
    }
}
