@page "/admin/plans"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using LanguageLearning.Domain
@using LanguageLearning.Data
@rendermode InteractiveServer
@inject HttpClient httpClient

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="plans/create">Create New</a>
</p>

<QuickGrid Class="table" Items="FilteredPlans" Pagination="paginationState">
    <PropertyColumn Property="plan => plan.Name" Sortable="true">
        <ColumnOptions>
            <div>
                <input type="search" @bind="searchText" @bind:event="oninput" autofocus />
            </div>
        </ColumnOptions>
    </PropertyColumn>
    <PropertyColumn Property="plan => plan.Price" Sortable="true" />
    <PropertyColumn Property="plan => plan.BillingCycle" Sortable="true" />
    <PropertyColumn Property="plan => plan.DateCreated" Sortable="true" />
    <PropertyColumn Property="plan => plan.DateUpdated" Sortable="true" />
    <PropertyColumn Property="plan => plan.CreatedBy" Sortable="true" />
    <PropertyColumn Property="plan => plan.UpdatedBy" Sortable="true" />

    <TemplateColumn Context="plan">
        <a href="@($"admin/plans/edit?id={plan.Id}")">Edit</a> |
        <a href="@($"admin/plans/details?id={plan.Id}")">Details</a> |
        <a href="@($"admin/plans/delete?id={plan.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
<Paginator State="paginationState" />

@code {
    PaginationState paginationState = new PaginationState { ItemsPerPage = 5 };

    List<Plan> Plans = new();
    string searchText = "";
    IQueryable<Plan> FilteredPlans => Plans.Where(p => p.Name.Contains(searchText)).AsQueryable();

    protected override async Task OnInitializedAsync()
    {
        Plans = await httpClient.GetFromJsonAsync<List<Plan>>("api/plans") ?? new List<Plan>();
    }
    // amendable
}
